tr.zavodskiy{
    background: green;
    text-align: center;
}
tr.ingulskiy{
    background-color: pink;
    text-align: center;
}
tr.korabelniy{
    background-color: lightblue;
    text-align: center;
}
tr.centralniy{
    background-color: yellow;
    text-align: center;
}